%div#total
  %div#price 18,222,22 円
  %div#count 1,132 口

%h2 最新の寄付ったーさん

%h2 使い方

%ol
  %li 募金する
  %li <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a>にあなたが寄付したことを教えてね
  %div.example <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a> ○○でxxx円募金したよ
  %li みんなのつぶやきを集計して、上の募金額に追加するよ

%h2 こんな感じで書いてね

%div.example <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a> Yahoo!!で100円募金したよ
%div.example <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a> 思い切って1000円入れてみた！！ <a href='http://bit.ly/eCJ38H'>http://bit.ly/eCJ38H</a>
%div.example <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a> 5$ was raised a fund in UNICEF.
%div 何回投稿してもOKだよ。


