%div#contents
  %div#total
    %p #{@total_price} 円が
    %p #{@total_count} 口の寄付で集まってるよ。
    %p #{@user_count} 人のユーザーが参加中！

  %h2 使い方

  %ol
    %li 寄付する
    %li <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a>に教えてね、URLは無くてもいいよ
    %div.example <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a> ○○で<b class="s">xxx円</b>募金したよ <b class="s">http://募金先のURL</b>
    %li みんなのつぶやきを集計して、上の募金額に追加するよ

  %h2 こんな感じで書いてね

  %div.example <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a> Yahoo!!で100円募金したよ
  %div.example <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a> 思い切って1000円入れてみた！！ <a href='http://bit.ly/eCJ38H'>http://bit.ly/eCJ38H</a>
  %div 何回投稿してもOKだよ。

  %h2 最近の寄付

  %p <a href="http://search.twitter.com/search?q=%40kifutter_jp">@kifutter_jp - Twitter Search</a>

%div#footer
  %div#footer_title kifutter
  %div#developer develop by ongaeshi
  %p <a href='http://twitter.com/kifutter_jp'>Twitter</a>
  %p <a href='https://github.com/ongaeshi/kifutter'>github</a>
  %p ページデザイン募集中
