@charset "UTF-8";

#total {
  text-align: center;
  font-size: 40px;
}

.example {
  border: 1px solid black;
  margin: 1em;
  padding: 0.2em;
}

.s {
  color: rgb(27.8%, 58.8%, 83.9%);
}

a:link {
  text-decoration: none;
}