%div#total
  %div#price #{@total_price} 円
  %div#count #{@total_count} 口

%h2 使い方

%ol
  %li 寄付する
  %li <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a>に教えてね
  %div.example <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a> ○○でxxx円募金したよ
  %li みんなのつぶやきを集計して、上の募金額に追加するよ

%h2 こんな感じで書いてね

%div.example <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a> Yahoo!!で100円募金したよ
%div.example <a href='http://twitter.com/kifutter_jp'>@kifutter_jp</a> 思い切って1000円入れてみた！！ <a href='http://bit.ly/eCJ38H'>http://bit.ly/eCJ38H</a>
%div 何回投稿してもOKだよ。

%h2 最近の10件

%div#footer
  %div#f_title kifutter
  %ul
    %li github
    %li ページデザイン募集中

