!!! XML
!!! Strict

%html
  %head
    %title 寄付ったー - Twitterユーザーの募金総額をまとめて表示
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/style2.css"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/style.css"}

  %body
    %div#wrapper
      %div#header
        %h1 寄付ったー
      != yield
